body {
  height:100vh;
  font-family: 'Open Sans', sans-serif;
}

.navbar-ref {
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

.navbar-ul {
    background-color: #87CEFA;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-bottom: 20px;
    border-bottom: 5px solid black;
}

.list-inline {
  display: flex;
  text-decoration: none;
  justify-content: space-around;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 50%;
}



.me-logo{
    height:30px;
    width:30px;
    margin: 0px 12px 0px 2px;
    text-decoration:none;
}

@media only screen and (max-width: 1094px) {
  .list-inline {
    width: 100%;
  }

  .navbar-ref {
    color: #808080;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
  }

}

a::selection,
span::selection {
  background: #ffb7b7; /* WebKit/Blink Browsers */
}

a::selection,
span::-moz-selection {
  background: #ffb7b7; /* Gecko Browsers */
}