{% extends "base.html" %}

{% block head %}
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/article.css') }}">
<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename = 'css/chip.css') }}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://d3js.org/d3.v5.min.js"></script>
<meta property='og:title' content="What I Listen: Exploring my Spotify Listening Habits using D3.js"/>
<meta property="og:image" content="https://i.postimg.cc/Kcns8y0p/dep-graph.png"/>
<meta property='og:description' content="What I Listen Article, posted by Lloyd Shatkin"/>
<meta property='og:url' content="http://www.lloydshatkin.com/articles/spotify_d3" />
{% endblock %}

{% block body %}

<div class="container">
    <div class="wrapper scroll-wrapper">
        <div class="heading">
            <div class="title">{{ project['name'] }}</div>

            <div class="date">{{ project['date'] }}</div>

            {% if project['github'] %}
                <div>
                    <a target="_blank" href="{{ project['github'] }}">
                        <img class="title-logo" src="/static/images/github.svg">
                    </a>
                </div>
            {% endif %}
        </div>
        <div>{{ project['description'] | safe }}</div>
    </div>
</div>


<script type="text/javascript" src="{{ url_for('static', filename = 'js/spotify.js') }}"></script>
{% endblock %}